:root {
  --dark-bg: #1a202c;
  --darker-bg: #2d3748;
  --yellow: #f6e05e;
  --yellow-hover: #ffd700;
  --text-color: #fff;
}

/* Other CSS styles will use these variables */

.homepage {
  display: flex;
}

.sidebar-container {
  flex: 0 0 250px; /* Set fixed width for sidebar */
}

.content {
  flex: 3 0 250px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

#booking-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .homepage {
    flex-direction: column; /* Stack sidebar and content vertically on smaller screens */
  }

  .sidebar-container {
    width: 100%; /* Full width on smaller screens */
    order: 1; /* Move sidebar below content */
  }

  .content {
    order: 1; /* Move content above sidebar */
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.barber-shop-card {
  line-height: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;
}
.image-container {
  text-align: center;
  margin: 0 auto;
}
.barber-shop-card:hover {
  transform: translateY(-5px);
}
.barber-shop-card img {
  width: 90%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  margin: 0 auto;
}

.barber-shop-card:hover img {
  transform: scale(1.05);
}
.book-session-button {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10% auto;
  background-color: var(--yellow);
  color: var(--dark-bg);
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.book-session-button:hover {
  background-color: var(--yellow-hover);
  transform: translateY(-2px);
}
